* {
    margin: 0;
    padding: 0;
    font-family: 'Kalnia', serif;
    box-sizing: border-box;
}
.contact-info{
    font-size: 12px;
}

.nav-links{
    font-size: 19px;
    font-weight: 500;
    color: #212934 !important;
}

.nav-link{
    font-size: 19px;
    font-weight: 500;
    color: #212934 !important;
}

.nav-links:hover{
    color: #CFA3B1 !important;
}

.nav-link:hover{
    color: #CFA3B1 !important;
}

.nav-items{
    margin-right: 100px;
    padding: 5px;
}

.nav-icon{
    margin-right: 15px;
}

 .hero{
    width: 100%;
    height: 100vh;
    background-image: url(vecteezy_abstract-blur-background-with-pastel-color_7188600.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
form {
    width: 90%;
    max-width: 600px;
}
.input-group{
    margin-bottom: 30px;
    position: relative;
}
input,textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    border-color: black;
    color: #black;
    background: transparent;
    font-size: 15px;
}
label{
    height:100%;
    position: absolute;
    left: 0;
    top:0;
    padding: 10px;
    color: black;
    cursor: text;
    transition: 0.2s;
    
}
button{
    padding: 10px 0;
    color: black;
    outline: none;
    background: transparent;
    border: 1px solid black;
    width: 100%;
    cursor: pointer;
}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top:-35px;
    font-size: 14px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row .input-group{
    flex-basis: 48%;
}   
